node_modules/
/index.js
commands/
deprecatedFunctions/
hytera.md
/database
src/functions/codes/string/convert.js
src/functions/codes/string/unconvert.js
src/functions/codes/utils/minify.js
/hytescript
src/codings/oldReader.js